{% extends 'DdrSymfonyAngularRestExampleWebBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">

            <div class="btn-group pull-right">
                {% if is_granted('EDIT', blogPost) %}
                <a class="btn btn-lg btn-default" href="{{ path('ddr_example_web_blogpost_edit',{'id':blogPost.id}) }}">
                    <i class="fa fa-pencil"></i>
                </a>
                {% endif %}
                {% if is_granted('DELETE', blogPost) %}
                <a class="btn btn-lg btn-default" href="{{ path('ddr_example_web_blogpost_delete', {'id':blogPost.id}) }}">
                    <i class="fa fa-trash-o"></i>
                </a>
                {% endif %}
            </div>
        <h1>{{ blogPost.title }}</h1>

        <span class="text-muted">Written by</span> {{ blogPost.author.username }} <span class="text-muted">on</span>
        {{ blogPost.date|date }}
    </div>

    <p class="margin-bottom-double">{{ blogPost.content }}</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Comments</h2>
        </div>
        <div class="list-group">
            {% for comment in comments %}
                <div class="list-group-item">
                    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_USER') and app.user.id == comment.author.id) %}
                        <div class="btn-group pull-right">
                            <a class="btn btn-large btn-default" ng-click="removeComment(comment)">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <p>{{ comment.content }}</p>
                        <div>
                            <small>
                                <span class="text-muted">Written by</span> {{ comment.author.username }} <span class="text-muted">on</span>
                                {{ comment.date|date }}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_USER') %}
                <div class="list-group-item">
                    {{ form_start(commentForm) }}
                    {{ form_rest(commentForm) }}
                    <input type="submit" class="btn btn-primary" value="Comment" />
                    {{ form_end(commentForm) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
