<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SymfonyAngularRestExample - {{ '{{ title }}' }}</title>
    {% block css %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="{{ asset('bundles/ddrsymfonyangularrestexampleweb/css/style.css') }}" rel="stylesheet" />
    {% endblock css %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#!/">Home</a>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="user"><a href="#!/login">Login</a></li>
            <li ng-show="user" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false">{{ '{{ user.username }}' }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#!/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="ng-view">
    </div>
</div>

{% block js %}
    <script type="text/javascript">
        var basePath = '{{ app.request.basepath }}';
        var baseUrl = '{{ app.request.baseurl }}';
        var partialsPath = basePath + '/bundles/ddrsymfonyangularrestexampleangular1/partials/';
        var restPath = baseUrl + '/rest/';
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.2/restangular.min.js"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/ddrsymfonyangularrestexampleangular1/js/controllers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ddrsymfonyangularrestexampleangular1/js/app.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            angular.bootstrap(document, ['ExampleApp'])
        });
    </script>
{% endblock js %}

</body>
</html>
