{% extends 'DdrSymfonyAngularRestExampleWebBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_USER') %}
            <div class="pull-right">
                <a href="{{ path('ddr_example_web_blogpost_edit', {'id':'create'}) }}" class="btn btn-lg btn-default">
                    <span class="fa fa-plus"></span>
                </a>
            </div>
        {% endif %}
        <h1>Welcome</h1>
    </div>

    {% for blogpost in blogPosts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    {{ blogpost.date|date }}
                </div>
                <h2 class="panel-title"><a
                            href="{{ path('ddr_example_web_blogpost_detail', {'id':blogpost.id}) }}">{{ blogpost.title }}</a></h2>
            </div>
            <div class="panel-body">
                {{ blogpost.content }}
                <p class="text-muted margin-bottom-none">
                    <small>by {{ blogpost.author.username }}</small>
                </p>
            </div>
            <div class="panel-footer">
                <span class="fa fa-comments"></span> {{ blogpost.numComments }} Comments
            </div>
        </div>
    {% endfor %}

{% endblock content %}