<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SymfonyAngularRestExample</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ asset('bundles/ddrsymfonyangularrestexampleweb/css/style.css') }}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ path('ddr_symfony_angular_rest_example_web_index') }}">Home</a>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url('ddr_symfony_angular_rest_example_angular1_homepage') }}">Angular1</a></li>
            <li><a href="{{ url('ddr_symfony_angular_rest_example_angular2_homepage') }}">Angular2</a></li>
            <li class="active"><a href="{{ url('ddr_symfony_angular_rest_example_web_index') }}">Twig</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_USER') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>